@model IEnumerable<FitInit.Models.Goal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GoalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalReps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GoalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoalReps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoalUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GoalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GoalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GoalID })
        </td>
    </tr>
}

</table>
